body {
    background-color: #ffffff;
    font-size: 20px;
    color: #202020;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'open_sanslight';
    font-weight: 300;
}

/* For Menu Section */

/*.navbar-default {
    background-color: transparent;
    border-color: #e7e7e7;
    margin:0 auto;
}
.navbar-default .navbar-nav>li>a {
    color: #f1f1f1;
    text-transform: uppercase;
    padding-top:45px;
    padding-bottom:45px;
    font-size:20px;
    font-family:'nexa_lightregular';
    letter-spacing:2px;
    line-height:0;
}
.navbar-default .navbar-nav>.active>a {
    color: #f1f1f1;
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color: red;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: red;
    background-color: transparent;
}
  .navbar-nav {
    text-align: center;
}
.navbar-toggle {
    background-color:#fff;
    border:0;
    border-radius:0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

.menu-bg{
    background:#474747;
}*/

/* For Home Section */

.home{
  background: url(Background.jpg) no-repeat center top fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  overflow: hidden;
  margin-top:150px;
  color:#f1f1f1;
  text-transform:uppercase;
  text-align: center;
}

.logo{
    margin-bottom:50px;
}

.home-title h1{
    font-size:60px;
    font-family: 'nexa_lightregular';
    letter-spacing:1px;
}
.home-title h1 span{
    font-family: 'nexa_boldregular';
    color:#f1f1f1;
}


/* For About Section */
.about-photo{
    width: 35%;
    float: left;
}

.about-content{
    margin-top:40px;
    width: 50%;
    float: right;
}
.about-content .signature{
    margin-top:50px;
    
    float: right;
}

/* For Portfolio Section */

.portfolio{
    background: url(Background_portfolio.png) no-repeat center top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    overflow: hidden;
}
.portfolio .title h3{
    color:#f1f1f1;
    text-align: center;
}
.portfolio-wrapper{
    width:100%;
    margin-left:-20px;
    text-align:center;

}
.portfolio-item {
    /*display:inline-block;*/
    display: flex;
    flex-direction: row;

    overflow:hidden;
    width:17%;
    margin-left:20px;
    margin-bottom:20px;
    
}
.portfolio-details{
    width:100%;
}
.portfolio-details img{
    width:100%;
}

/* For Contact Section */

.contact-category{
    margin-top:30px;
    text-transform:uppercase;
    text-align: center;
}
.contact-category h4{
    font-size:25px;
    font-family:'nexa_boldregular';
}
.contact-category .mail h2{
    font-size:50px;
    font-family:'nexa_lightregular';
}
.contact-category .phone h5{
    font-size:40px;
    font-family:'nexa_lightregular';
}
.contact-category .social a {
    font-size: 26px;
    color: #202020;
    border: 2px solid #202020;
    border-radius: 100%;
    height: 45px;
    width: 45px;
    margin: 10px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    transition:.3s ease-in-out;
    -webkit-transition:.3s ease-in-out;
    -moz-transition:.3s ease-in-out;
}
.contact-category .social a :hover{
    color:red;
}


/* For Footer Section */
.copyright{
    border-top:1px solid #bebebe;
    padding:30px 0;
    color:#bebebe;
    font-size:16px;
    text-transform:uppercase;
    font-family:'nexa_lightregular';
    text-align: center;
}